<h2>Please enter the amount you'd like to transfer from Account Number <%= @from_account.id %>:</h2>

<p>Current balance: <%= @from_account.balance %></p>

<%= form_tag complete_transfer_path do  %>

		<p><%= hidden_field_tag :user_id, current_user.id %></p>
		<p><%= hidden_field_tag :account_from, @from_account.id %></p>
		<p><%= select_tag :account_to, options_for_select(current_user.accounts.collect{ |a| [a.id, a.id] }), placeholder: 'Transfer to...' %></p>
	  <p><%= number_field_tag :balance, 0.01, min: 0.01, step: :any %></p>
	  <%= submit_tag "Complete Transfer", class: "btn btn-primary" %>
<% end %>
